language: php

php:
    - 8.1

env:
    global:
        - XDEBUG_MODE=coverage

install:
    - composer install -n

script:
    - ./bin/phpunit --coverage-clover=coverage.clover
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
